
.MuiContainer-root {
  padding-left: 5px;
  padding-right: 5px;
}

.MuiListItemText-primary {
  margin-top: 30px;
  font-size: 20px;
  color: gray;
  transform: all 0.5s ease-out;
}
.MuiListItemText-primary:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.react-calendar__navigation__label {
  font-size: 20px;
  pointer-events: none;
}

.MuiTableCell-root:nth-child(1),
.MuiTableCell-root:nth-child(2),
.MuiTableCell-root:nth-child(3),
.MuiTableCell-root:nth-child(4) {
  font-size: 17px;
}
.selected-date {
  background-color: #1087ff !important; 
}
.green-tile {
  background-color: #dfd !important;
}

